/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #09d3ac;*/
/*}*/
/* PAGE */

body,
.pure-g [class*=pure-u] {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #eee;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 20px;
}

.pure-button-primary {
    background-color: #0c1a2b;
}

.pure-button-primary:hover {
    background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
    border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
    position: fixed;
    padding: 5px;
    background: #0c1a2b;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
    color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
    background: #233e5e;
}

.navbar .pure-menu-heading {
    font-weight: bold;
    text-transform: none;
}

.navbar .navbar-right {
    float: right;
}

.navbar .uport-logo {
    height: 16px;
    margin-right: 10px;
}

